@charset "UTF-8";


body > .container.main > .entry-content .landing {
  display: flex;
  padding: 160px 0 320px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #999;
}
body > .container.main > .entry-content .landing > .icon-wrap {
  font-size: 60px;
  line-height: 0;
  color: #CCC;
}
body > .container.main > .entry-content .landing > .text-wrap {
  font-size: 20px;
  letter-spacing: -0.65px;
}
body > .container.main > .entry-content .landing > div + div {
  margin-top: 40px;
}

body > .container.main > .entry-content .button.active, body > .container.main > .entry-content .container.list-view > .tags-outer > .popup-layer .tag-list .tag-item > button.button.active {
  color: #FFF;
  background-color: #38A1DB;
  border-color: #38A1DB;
}

body > .container .bg-block {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
body > .container .bg-block.image {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body > .container .bg-block.dark-overay {
  background-color: rgba(0, 0, 0, 0.4);
}
body > .container > .entry-header {
  position: relative;
  background-color: #000;
  color: #FFF;
}
body > .container > .entry-header > .sub-header > .inner-wrap {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}



body > .container.main > .entry-content .landing {
  display: flex;
  padding: 160px 0 320px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #999;
}
body > .container.main > .entry-content .landing > .icon-wrap {
  font-size: 60px;
  line-height: 0;
  color: #CCC;
}
body > .container.main > .entry-content .landing > .text-wrap {
  font-size: 20px;
  letter-spacing: -0.65px;
}
body > .container.main > .entry-content .landing > div + div {
  margin-top: 40px;
}

body > .container.main > .entry-content .button.active, body > .container.main > .entry-content .container.list-view > .tags-outer > .popup-layer .tag-list .tag-item > button.button.active {
  color: #FFF;
  background-color: #38A1DB;
  border-color: #38A1DB;
}

body > .container.main > .entry-content .container.list-view > .tags-outer {
  margin: 0 auto;
}
body > .container.main > .entry-content .container.list-view > .tags-outer > .tag-list > .tag-item + .tag-item {
  margin-left: 20px;
}
body > .container.main > .entry-content .container.list-view > .tags-outer > .tag-list + .button {
  margin-left: 20px;
}
body > .container.main > .entry-content .container.list-view > .tags-outer > .popup-layer * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body > .container.main > .entry-content .container.list-view > .tags-outer > .popup-layer .tag-list {
  flex-wrap: wrap;
  justify-content: center;
}
body > .container.main > .entry-content .container.list-view > .tags-outer > .popup-layer .tag-list .tag-item {
  margin: 0 10px 20px;
}
body > .container.main > .entry-content .container.list-view > .tags-outer > .popup-layer .tag-list .tag-item > button.button {
  height: 30px;
  font-size: 16px;
  background-color: #f4f4f4;
  color: #555;
  border-color: transparent;
}
body > .container.main > .entry-content .container.list-view > .tags-outer > .popup-layer .tag-list .tag-item > button.button.pill {
  border-radius: 30px;
}
body > .container.main > .entry-content .container.list-view > .tags-outer > .popup-layer .popup-footer button + button {
  margin-left: 20px;
}

body > .container.main > .entry-content .container.list-view > .content-outer > .header .selected-tags-outer > .flex-item {
  flex-wrap: wrap;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .header .selected-tags-outer > .filter.tag-list.flex-item > li {
  text-transform: uppercase;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .header .selected-tags-outer > .filter.tag-list.flex-item > li + li {
  margin-left: 5px;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .header .selected-tags-outer > .btn-controls.flex-item {
  flex-shrink: 0;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .header .selected-tags-outer > .btn-controls.flex-item a.button {
  align-items: center;
  font-size: 0.75em;
  height: 30px;
  min-width: auto;
  color: #777;
  padding: 4px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: #CCC;
  transition-duration: 0.25s;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .header .selected-tags-outer > .btn-controls.flex-item a.button.cancel::after {
  font-family: "xeicon";
  content: "";
  padding-top: 2px;
  margin-left: 4px;
  font-weight: bold;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .header .selected-tags-outer > .btn-controls.flex-item a.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #555;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .header .selected-tags-outer > .flex-item + .flex-item {
  margin-left: 5px;
}

body > .container.main > .entry-content .container.list-view > .content-outer > .header {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .header .selected-tags-outer {
  flex-wrap: wrap;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item.bordered {
  margin: 10px 0;
  border: 1px solid #999;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item.bordered > .route-link {
  width: 616px;
  min-height: 400px;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item.bordered > .route-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: transparent;
  transition: background-color 0.1s linear;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item.bordered > .route-link:hover::before {
  content: "";
  background-color: rgba(153, 153, 153, 0.1);
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item.bordered > .route-link > div:not([class*=-icon]) {
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item.bordered > .route-link > .title {
  display: flex;
  align-items: flex-end;
  font-size: 32px;
  letter-spacing: -0.26px;
  font-weight: bold;
  height: 120px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDD;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item.bordered > .route-link > .content {
  padding-bottom: 40px;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item.bordered > .route-link:hover {
  border-color: #192F66;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item.bordered > .route-link:hover > .title {
  color: #192F66;
}

body > .container.main > .entry-content .container.list-view > .content-outer > .article-list {
  display: flex;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .flex-wrap.article-list {
  flex: 1 1 auto;
  justify-content: space-between;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item > .route-link {
  position: relative;
  display: block;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item > .route-link .tag-list {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
  font-weight: bold;
  flex-wrap: wrap;
  margin-left: -20px;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item > .route-link .tag-list > li {
  margin-left: 20px;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item > .route-link .content > .desc > p.text {
  color: #555;
  word-break: keep-all;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item > .route-link .content > .desc > p.text::before {
  content: "“";
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item > .route-link .content > .desc > p.text::after {
  content: "”";
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item > .route-link .corner-arrow-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  line-height: 50px;
  opacity: 0.75;
  color: #192F66;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item > .route-link .corner-arrow-icon > i {
  transform: rotate(45deg);
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item > .route-link:hover .corner-arrow-icon {
  opacity: 1;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list > .list-item > .route-link * {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list.filtered {
  flex-direction: column;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list.filtered > .list-item > .route-link .title {
  color: #192F66;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list.filtered > .list-item > .route-link .content {
  margin-top: 4px;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list.filtered > .list-item > .route-link .tag-list {
  align-items: center;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list.filtered > .list-item > .route-link .tag-list.has-arrow-up-icon::after {
  margin-left: 10px;
  font-size: 28px;
  line-height: 28px;
  color: #93D5DA;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list.filtered > .list-item > .route-link .tag-list > .tag-item.active {
  background-color: #feda44;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list.filtered > .list-item > .route-link .tag-list + .desc {
  margin-top: 10px;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list.filtered > .list-item > .route-link:hover .tag-list.has-arrow-up-icon::after {
  color: #192F66;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list.filtered > .list-item > .route-link:hover .desc > p.text {
  text-decoration: underline;
}
body > .container.main > .entry-content .container.list-view > .content-outer > .article-list.filtered > .list-item + .list-item {
  margin-top: 40px;
}

body > .container.main > .entry-content .container.list-view > .content-outer {
  margin-top: 120px;
}
body > .container.main > .entry-content .container.list-view > .content-outer > hr {
  margin: 12px 0 40px;
}


body > .container.main > .entry-content .landing {
  display: flex;
  padding: 160px 0 320px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #999;
}
body > .container.main > .entry-content .landing > .icon-wrap {
  font-size: 60px;
  line-height: 0;
  color: #CCC;
}
body > .container.main > .entry-content .landing > .text-wrap {
  font-size: 20px;
  letter-spacing: -0.65px;
}
body > .container.main > .entry-content .landing > div + div {
  margin-top: 40px;
}

body > .container.main > .entry-content .button.active, body > .container.main > .entry-content .container.list-view > .tags-outer > .popup-layer .tag-list .tag-item > button.button.active {
  color: #FFF;
  background-color: #38A1DB;
  border-color: #38A1DB;
}

body > .container.main > .entry-content .container.detail-view ul.list:not(.dot) {
  padding-left: 1.25em;
}
body > .container.main > .entry-content .container.detail-view ul.list:not(.dot) > li {
  list-style-type: disc;
}
body > .container.main > .entry-content .container.detail-view ul.list.dot {
  padding-left: 0.5em;
}
body > .container.main > .entry-content .container.detail-view ul.list.dot > li {
  padding-bottom: 0;
}
body > .container.main > .entry-content .container.detail-view ul.list.dot > li + li {
  margin-top: 0.5em;
}
body > .container.main > .entry-content .container.detail-view .video-wrap {
  position: relative;
}
body > .container.main > .entry-content .container.detail-view > .header {
  padding: 120px 0 60px;
  background-color: #F6F6F5;
}
body > .container.main > .entry-content .container.detail-view > .header .title {
  font-size: 46px;
  line-height: 60px;
  letter-spacing: -0.025em;
  padding-bottom: 20px;
  font-weight: bold;
}
body > .container.main > .entry-content .container.detail-view > .header .desc {
  font-size: 20px;
  color: #555;
}
body > .container.main > .entry-content .container.detail-view > .header + div {
  padding-top: 100px;
}
body > .container.main > .entry-content .container.detail-view > .tab-nav-outer .tab-nav {
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}
body > .container.main > .entry-content .container.detail-view > .tab-nav-outer .tab-nav > li {
  flex-grow: 1;
}
body > .container.main > .entry-content .container.detail-view > .tab-nav-outer .tab-nav > li > a {
  display: block;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  color: #555;
  border: 1px solid #DDD;
}
body > .container.main > .entry-content .container.detail-view > .tab-nav-outer .tab-nav > li > a.active {
  background-color: #38A1DB;
  border-color: #38A1DB;
  color: #FFF;
}
body > .container.main > .entry-content .container.detail-view > .tab-nav-outer .tab-nav > li:not(:first-child) > a {
  border-left: none;
}
body > .container.main > .entry-content .container.detail-view > .tab-nav-outer + div {
  padding-top: 60px;
}
body > .container.main > .entry-content .container.detail-view > .tag-list-outer .tag-list {
  flex-wrap: wrap;
  margin: -5px;
}
body > .container.main > .entry-content .container.detail-view > .tag-list-outer .tag-list > li {
  display: flex;
  align-items: center;
  margin: 5px;
}
body > .container.main > .entry-content .container.detail-view > .tag-list-outer .tag-list > li > a.tag {
  height: 40px;
  font-size: 16px;
}
body > .container.main > .entry-content .container.detail-view > .tag-list-outer + div {
  padding-top: 60px;
}
body > .container.main > .entry-content .container.detail-view > .overview-outer {
  padding-bottom: 120px;
}
body > .container.main > .entry-content .container.detail-view > .overview-outer > .col {
  position: relative;
}
body > .container.main > .entry-content .container.detail-view > .overview-outer > .col.left > .flex-item p, body > .container.main > .entry-content .container.detail-view > .overview-outer > .col.left > .flex-item ul {
  color: #555;
}
body > .container.main > .entry-content .container.detail-view > .overview-outer > .col.left > .flex-item > .title {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.01em;
  margin-bottom: 14px;
}
body > .container.main > .entry-content .container.detail-view > .overview-outer > .col.left > .flex-item > .list li + li {
  margin-top: 4px;
}
body > .container.main > .entry-content .container.detail-view > .overview-outer > .col.left > .line.horizontal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 30px 0;
}
body > .container.main > .entry-content .container.detail-view > .overview-outer > .col.left > .line.horizontal > hr {
  width: 100%;
  margin: 0;
  z-index: 0;
}
body > .container.main > .entry-content .container.detail-view > .overview-outer > .col.left > .line.horizontal ::after {
  content: "";
  display: block;
  z-index: 1;
  width: 30px;
  height: 30px;
  background-color: yellow;
  background: url("/assets/imgs/customerstory/box-1.png") no-repeat center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
body > .container.main > .entry-content .container.detail-view > .overview-outer > .col.right {
  margin-left: 120px;
  flex-shrink: 0;
}
body > .container.main > .entry-content .container.detail-view > .overview-outer > .col.right.banner {
  width: 404px;
  height: auto;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .header {
  justify-content: center;
  align-items: center;
  height: 400px;
  padding-bottom: 150px;
  background-color: #192F66;
  color: #FFF;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .header .title .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 60px;
  font-size: 48px;
  line-height: 48px;
  color: #192F66;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .header .title .icon + p {
  margin-top: 10px;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .header .title p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
  font-size: 26px;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body {
  margin-top: -150px;
  background-color: #FFF;
  border: 1px solid #192F66;
  padding: 120px 100px;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .head-copy-wrap {
  margin: 0 80px 100px;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .head-copy-wrap .head-copy {
  position: relative;
  margin-bottom: 20px;
  z-index: 0;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .head-copy-wrap .head-copy .bg-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .head-copy-wrap .head-copy .bg-box.blue-line {
  z-index: 0;
  border: 2px solid #192F66;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .head-copy-wrap .head-copy .bg-box.white-fill {
  z-index: 1;
  background-color: #FFF;
  left: 10px;
  right: 10px;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .head-copy-wrap .head-copy .text-wrap {
  position: relative;
  z-index: 2;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .head-copy-wrap .name {
  color: #192F66;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .head-copy-wrap .name::before {
  content: "- ";
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .head-copy-wrap .name::after {
  content: " -";
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .custom-body-wrap .custom-body {
  align-items: center;
  color: #555;
  margin: 0 54px;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .custom-body-wrap .custom-body .imgbox img {
  width: 100%;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .custom-body-wrap .custom-body .imgbox + p {
  margin-top: 60px;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .video-wrap {
  margin: 100px 0;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .qna-wrap .qna-list li {
  color: #555;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .qna-wrap .qna-list li strong {
  color: #192F66;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .qna-wrap .qna-list li > div {
  display: flex;
  align-items: flex-start;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .qna-wrap .qna-list li > div::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 50px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .qna-wrap .qna-list li > div.q::before {
  background-image: url("/assets/imgs/customerstory/icon/interview-q.png");
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .qna-wrap .qna-list li > div.a::before {
  background-image: url("/assets/imgs/customerstory/icon/interview-a.png");
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .qna-wrap .qna-list li > div p {
  padding-top: 8px;
  word-break: break-all;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .qna-wrap .qna-list li + li {
  margin-top: 40px;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .itw-footer-wrap {
  margin-top: 60px;
}
body > .container.main > .entry-content .container.detail-view > .interview-outer > .body .itw-footer-wrap a.button {
  font-size: 16px;
  height: auto;
  border-radius: 60px;
  padding: 20px 40px;
}

body > .container.main > .entry-header {
  height: 360px;
  margin-bottom: 0;
}
body > .container.main > .entry-header > .bg-block.dark-overay {
  background-color: rgba(0, 0, 0, 0.6);
}
body > .container.main > .entry-header > .sub-header {
  height: 100%;
}
body > .container.main > .entry-header > .sub-header > .inner-wrap {
  height: 100%;
}

body > .container.main > .entry-content .tag-label::before {
  content: "#";
}
body > .container.main > .entry-content .tag-label + .count {
  margin-left: 2px;
}
body > .container.main > .entry-content .tag-label + .count::before {
  content: "(";
}
body > .container.main > .entry-content .tag-label + .count::after {
  content: ")";
}
body > .container.main > .entry-content .button * {
  pointer-events: none;
}
body > .container.main > .entry-content .button.toggle {
  position: relative;
  overflow: hidden;
}
body > .container.main > .entry-content .button.toggle span {
  z-index: 1;
}
body > .container.main > .entry-content .button.toggle::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: transparent;
  transition: background-color 0.2s linear;
}
body > .container.main > .entry-content .button.toggle:hover::before {
  content: "";
  background-color: rgba(85, 85, 85, 0.1);
}
body > .container.main > .entry-content .button.tag {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
  min-width: auto;
  height: 50px;
  padding: 0 20px;
}
body > .container.main > .entry-content .button.inverse:not(:hover):not(.active) {
  color: #111;
}
body > .container.main > .entry-content .button.pill {
  border-radius: 50px;
}
body > .container.main > .entry-content .button[class*=has-arrow]::after {
  padding-left: 8px;
}
body > .container.main > .entry-content a.button {
  display: inline-flex;
  flex-wrap: nowrap;
}
body > .container.main > .entry-content a.button.aqua {
  min-width: auto;
  background-color: #38A1DB;
  border-color: #38A1DB;
}
body > .container.main > .entry-content a.button.aqua:hover {
  background-color: rgba(25, 47, 102, 0.75);
}
body > .container.main > .entry-content a.button::after {
  width: auto !important;
}
body > .container.main > .entry-content .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}
body > .container.main > .entry-content .container.list-view {
  padding-top: 120px;
}
/*# sourceMappingURL=main.css.map */
